.venv/
__pycache__/
*.py[cod]
.pytest_cache/

/build/
/waves/
obj_dir/
sim_build/
*.o
*.d
*.a
*.so
*.log
*.fst
*.vcd
results.xml

/reports/*
!/reports/timing/
/reports/timing/*
!/reports/timing/core_setup_nangate45_typ_10ns.txt
!/reports/timing/pipeline_setup_nangate45_typ_10ns.txt

*~
.DS_Store
Thumbs.db
